<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Directives</h1>
    </div>
    <div class="container">
        <div class="info-block">
            <p>At the core, a directive is a function that executes whenever the Angular compiler finds it in the DOM. Angular directives are used to extend the power of the HTML by giving it new syntax.</p>
            <p>There are 3 kinds of directives -</p>
            <ol>
                <li>Components - Directives with templates</li>
                <li>Structural directives—change the DOM layout by adding and removing DOM elements.</li>
                <li>Attribute directives—change the appearance or behavior of an element, component, or another directive.</li>
            </ol>
        </div><br>

        <h4 class="blueHeading">Components</h4>
        <p>Components are just directives with templates. These form the main class having details of how the component should be processed, instantiated and used at runtime.</p>
        <br>

        <h4 class="blueHeading">Structural Directives</h4>
        <p>A structure directive basically deals with manipulating the dom elements. Structural directives have a <b>*</b> sign before the directive. For example, <b>*ngIf</b>, <b>*ngFor</b> and <b>*ngSwitch</b>.</p>
        <!-- *ngIf -->
        <h5>*ngIf</h5>
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <code>&lt;button (click)="show=!show"&gt;<span ngNonBindable>{{show?'Hide':'Show'}}&lt;/button&gt;</span>
            </code><br>
                        <code>&lt;h4 <span ngNonBindable>*ngIf="show"&gt;Hello&lt;/h4&gt;</span></code>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <button class="btn btn-primary col-md-4" (click)="show=!show">{{show?'Hide':'Show'}}</button>&nbsp;&nbsp;&nbsp;
                            <h4 *ngIf="show">Hello</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
        <!-- end of *ngIf -->

        <!-- *ngFor -->
        <h5>*ngFor</h5>
        <p>Allows us to build data presentation lists and tables in our HTML templates</p>
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <code>superHeros = ["Superman", "Batman", "Wonder woman", "Flash"];</code><br><br>
                        <code>&lt;ul&gt;</code><br>
                        <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li <span ngNonBindable>*ngFor="let hero of superHeros"&gt;{{hero}}</span>&lt;/li&gt;</code><br>
                        <code>&lt;ul&gt;</code>
                    </div>
                    <div class="col-md-5">
                        <ul>
                            <li *ngFor="let hero of superHeros">{{hero}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><br>
        <!-- end of *ngFor -->

        <!-- *ngSwitch -->
        <h5>*ngSwitch</h5>
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <code>&lt;input type="text" id="num" <span ngNonBindable>[(ngModel)]="num" &gt;</span></code><br><br>
                        <code>&lt;div <span ngNonBindable>[ngSwitch]&gt;</span></code><br>
                        <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;p <span ngNonBindable>*ngSwitchCase="0" style="background-color:
                red"&gt;Red</span>&lt;p&gt;</code><br>
                        <code>&nbsp;&nbsp;&nbsp;&nbsp;&lt;p <span ngNonBindable>*ngSwitchCase="1" style="background-color:
                yellow"&gt;Yellow</span>&lt;p&gt;</code><br>
                        <code>&lt;/div&gt;</code>
                    </div>

                    <div class="col-md-5 text-center" [ngSwitch]="num">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="num">Enter a number :</label>&nbsp;&nbsp;
                                <input type="text" class="form-control col-md-2" id="num" [(ngModel)]="num">
                            </div>
                        </div><br><br>
                        <p *ngSwitchCase="0" style="background-color: turquoise">Turquoise</p>
                        <p *ngSwitchCase="1" style="background-color: yellow">Yello</p>
                        <p *ngSwitchCase="2" style="background-color: pink">pink</p>
                        <p *ngSwitchCase="3" style="background-color: red">Red</p>
                        <p *ngSwitchCase="4" style="background-color: violet">Violet</p>
                        <p *ngSwitchCase="5" style="background-color: orangered">Orange</p>
                        <p *ngSwitchCase="6" style="background-color: maroon">Maroon</p>
                        <p *ngSwitchCase="7" style="background-color: black; color: white">Black</p>
                        <p *ngSwitchCase="8" style="background-color: purple">Purple</p>
                        <p *ngSwitchCase="9" style="background-color: lime">Light Green</p>
                    </div>
                </div>
            </div>
        </div><br><br>
        <!-- end of *ngSwitch -->

        <!-- Attribute Directives -->
        <h4 class="blueHeading">Attribute Directives</h4>
        <p>They are used to manipulate the appearance and behaviour of elements.</p>
        <p><b>NgStyle</b> gives you control on individual properties. But if you want to make changes to multiple properties at once, creating a class which bundles those properties and adding the class with <b>NgClass</b> makes more sense.</p><br>

        <!-- [ngStyle] -->
        <h5>[ngStyle]</h5>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <code>&lt;p <span ngNonBindable>[ngStyle]="&#123;'background-color': 'yellow'&#125;"</span>&gt;Hello
              there!&lt;/p&gt;</code>
                    </div>
                    <div class="col-md-5 text-center">
                        <p [ngStyle]="{'background-color': 'yellow'}">Hello there!</p>
                    </div>
                </div>
            </div>
        </div><br>

        <p>Mapping style property to a variable</p>
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <code>&lt;p <span ngNonBindable>[ngStyle]="&#123;'background-color': myColor&#125;"</span>&gt;Hello
              there!&lt;/p&gt;</code>
                    </div>
                    <div class="col-md-5 text-center">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="num">Enter color :</label>&nbsp;&nbsp;<br><br>
                                <br><input type="text" class="form-control col-md-4" id="myColor" [(ngModel)]="myColor">
                            </div>
                        </div>
                        <p [ngStyle]="{'background-color': myColor}">Hello there!</p>
                    </div>
                </div>
            </div>
        </div><br>

        <p>Mapping the function to style property</p>
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <code>cities: any[] = [&#123; 'city': 'Delhi', 'country': 'India'&#125;, ....];</code><br><br>
                        <code>getCityColor(city: any) &#123;<br>
              &nbsp;&nbsp;switch (city) &#123;<br>
              &nbsp;&nbsp;case 'India': return 'turquoise';<br>
              &nbsp;&nbsp;case 'USA': return 'red';<br>
              &nbsp;&nbsp;...... <br>
              &nbsp;&nbsp;&#125;<br>
              &#125;</code><br><br>
                        <code>&lt;ul&gt;</code><br>
                        <code>&nbsp;&nbsp;&lt;li <span ngNonBindable>*ngFor="let city of cities"</span></code><br>
                        <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ngNonBindable>[ngStyle]="&#123;'background-color':getCityColor(city.country)&#125;"</span>></code><br>
                        <code>&lt;/ul&gt;</code><br>
                    </div>
                    <div class="col-md-5 text-center">
                        <ul>
                            <li *ngFor="let city of cities" [ngStyle]="{'background-color':getCityColor(city.country)}">{{city.city}} ({{city.country}})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><br><br>

        <!-- Odd/Even Example -->
        <div class="card bg-light offset-md-3 text-center col-md-4">
            <div class="card-body">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="num">Enter number :</label>&nbsp;&nbsp;<br><br>
                        <br><input type="text" class="form-control col-md-4" id="oddOrEvenInput" #oddOrEvenInput (keyup)="oddOrEvenFun(oddOrEvenInput.value)">
                    </div>
                </div>
                <p [ngStyle]="{'background-color': oddOrEvenColor}">{{oddOrEven}}</p>
            </div>
        </div><br><br>
        <!-- End of Odd/Even Example -->

        <!-- end of [ngStyle] -->

        <!-- [ngClass] -->
        <h5>[ngClass]</h5>
        <p>The NgClass directive allows you to set the CSS class dynamically for a DOM element.</p><br>
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <code>&lt;ul&gt;</code><br>
                        <code>&nbsp;&nbsp;&lt;li <span ngNonBindable>*ngFor="let city of cities" </span></code><br>
                        <code>&nbsp;<span ngNonBindable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[ngClass]="&#123;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'text-primary':city.country==='India',<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'text-danger':city.country==='USA',<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'text-warning':city.country==='Australia',<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'text-success':city.country==='UK'<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;">{{city.city}}
                ({{city.country}})</span>&lt;/li&gt;</code><br>
                        <code>&lt;ul&gt;</code>
                    </div>
                    <div class="col-md-5">
                        <ul>
                            <li *ngFor="let city of cities" [ngClass]="{'text-primary':city.country==='India','text-danger':city.country==='USA','text-warning':city.country==='Australia','text-success':city.country==='UK'}">{{city.city}} ({{city.country}})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><br>

        <!-- Alternative syntax for NgClass -->
        <p>Alternative sytax</p>
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <code>&lt;ul&gt;</code><br>
                        <code>&nbsp;&nbsp;&lt;li <span ngNonBindable>*ngFor="let city of cities" </span></code><br>
                        <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ngNonBindable>[class.text-primary]="city.country==='India'"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[class.text-danger]="city.country==='USA'"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[class.text-warning]="city.country==='Australia'"
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[class.text-success]="city.country==='UK'"&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{city.city}}
                ({{city.country}})</span>&lt;/li&gt;</code><br>
                        <code>&lt;ul&gt;</code>
                    </div>
                    <div class="col-md-5">
                        <ul>
                            <li *ngFor="let city of cities" [class.text-primary]="city.country==='India'" [class.text-danger]="city.country==='USA'" [class.text-warning]="city.country==='Australia'" [class.text-success]="city.country==='UK'">{{city.city}} ({{city.country}})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><br><br>
        <!-- end og Alternative syntax for NgClass -->
        <!-- end of [ngClass] -->

        <!-- Custom attribute directive -->
        <h5 class="blueHeading">Custom Attribute Directive</h5><br>

        <p>Create Directive</p>
        <div class="card bg-dark">
            <div class="card-body">
                <code class="text-neon">> ng g d directiveName</code>
            </div>
        </div><br>



        <!-- Custom attribute directive -->


        <br><br>
    </div>
    <!--end of Container -->
    <router-outlet></router-outlet>
</body>

</html>

<!-- TOPIC CARD FORMAT
    <h5>Sub Heading</h5>
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
-->