/* You can add global styles to this file, and also import other style files */

.container {
    max-width: 1000px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-block {
    border-left: 6px solid #C70039;
    font-size: 16px;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding: 0.01em 16px;
    text-align: justify;
}

.blueHeading {
    color: #303F9F !important;
}